// Variables

@import "layout-variables";

@import "generic/generic-base";
@import "generic/animations";

@import "header/header-base";
@import "app-header-menu";
@import "sidebar/sidebar-base";
@import "main/main-base";
@import "footer/footer-base";

@import "elements/page-title/page-title-base";
@import "elements/search-box/search-box";